#navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid $border;
    height: 100vh;
    background-color: $blue-bird;
    width: 20vw;
    background-color: $dark-bg;
    z-index: 9998;

    #nav-bird {
        margin: .7em;
    }

    #nav-list {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 90%;
        width: 80%;

        #hover {
            .nav-icon {
                animation: nav-hover .3s forwards;
            }
        }

        #leave {
            .nav-icon {
                animation: nav-no-hover .3s forwards;
            }
        }
        
        .nav-item {
            display: flex;
            align-items: center;
            width: fit-content;
            padding: .5em;
            background-color: rgba(255, 255, 255, 0);
            font-size: medium;
            color: whitesmoke;
            border-radius: 999px;
            border: none;
            padding-right: 1em;
            font-size: large;
            text-decoration: none;
            transition: background-color .3s, color .3s;
            
            img {
                height: 1.5em;
                width: 1.5em;
                padding-right: 1em;
                z-index: -999999;
            }

            b {
                font-weight: 900;
                z-index: -99999;
            }

        }

        .nav-item:hover {
            background-color: #1da0f228;
            color: $blue-bird;

            transition: background-color .3s, color .3s;
        }

        // .nav-item:not(#nav-profile):hover {
        //     img {
        //         animation: nav-hover .3s forwards;
        //     }
        // }

        #nav-tweed-btn {
            height: 3em;
            width: 90%;
            border: none;
            border-radius: 999px;
            color: white;
            font-family: system-ui;
            font-size: 15px;
            font-weight: 700;
            line-height: 20px;
        }

        #nav-tweed-btn:hover {
            background-color: #1b95e0;
            cursor: pointer;
        }
    }
}

@media(max-width: 1000px) {
    #navbar {
        padding-left: 1em;
        padding-right: 1em;
        align-items: center;

        #nav-list {
            align-items: center;
            width: fit-content;

            .nav-item {
                width: 1em;
                b {
                    display: none;
                }
            }

            #nav-tweed-btn {
                background-color: rgba(255, 255, 255, 0);
                img {
                    height: 3.5em;
                }

                b {
                    display: none;
                }
            }
        }
    }
}

@media(min-width: 1000px) {
    #navbar {
        padding-left: 1.5em;
    }

    #nav-tweed-btn {
        background-color: $blue-bird;
        img {
            display: none;
        }
    }
}

@keyframes nav-hover {
    0% {
        filter: none;
    }

    100% {
        filter: invert(76%) sepia(15%) saturate(1993%) hue-rotate(180deg) brightness(205%) contrast(89%);
    }        
}

@keyframes nav-no-hover {
    0% {
        filter: invert(76%) sepia(15%) saturate(1993%) hue-rotate(180deg) brightness(205%) contrast(89%);
    }

    100% {
        filter: none;
    }

}