#reg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(54, 60, 70);

  #reg-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #15202b;
    min-height: 400px;
    overflow-y: none;
    padding-bottom: 5em;

    header {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 96%;
      padding-top: 1em;

      #reg-head-spacer {
        width: 5.5em;
      }

      img {
        height: 1.4em;
      }

      .reg-btn {
        @include blue-btn;
        height: 2.5em;
        width: 5em;
        border-style: none;
        border-radius: 30px;
        font-size: small;
        font-weight: 900;
      }
    }
    .reg-label {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 5px;
      padding-right: 0px;
      color: #8899a6;
      background-color: #192734;
      height: 3em;
      border-bottom: 2px solid;
      border-radius: 3px;
      margin-bottom: 2em;
    }

    .reg-form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-evenly;
      width: 90%;
      #reg-title {
        text-align: left;
        color: whitesmoke;
      }

      #reg-un {
        width: 100%;
      }
        .reg-input {
          background: none;
          border: none;
          color: whitesmoke;
          width: 100%;
          height: 80%;
          font-size: 100%;
        }

        .reg-label:hover {
          color: $blue-bird;
          border-color: $blue-bird;
        }

        .reg-input:focus {
          outline: none;

          .reg-label {
            border-color: $blue-bird;
          }
        }

      #reg-passwords {
        display: flex;
        
      }
    }
    #reg-date-form {
      display: flex;

      .reg-dropdown {
        width: 100%;
        height: 100%;
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
        display: inline-block;
        color: whitesmoke;
        font-size: larger;
      }
    }
  }
}

#reg-date-desc {
  position: relative;
  align-self: flex-start;
  padding-left: 5%;
  text-align: left;
  width: 50%;
  h3 {
    color: whitesmoke;
  }
  p {
    color: #8899a6;
  }
}

@media(max-width: 766px) {
  #reg-box {
    width: 100vw;
    height: 92vh;
    #reg-passwords {
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
    }

    #reg-date-form {
      flex-direction: column;
    }
    #reg-date-form {
      width: 90%;
      #reg-day-drop, #reg-year-drop, #reg-month-drop {
        width: 100%;
      }
    }
  }
}

@media(min-width: 767px) {
  #reg-box {
    width: 40em;
    border-radius: 15px;
  }

  #reg-passwords {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    input {
      width: 47%;
    }
    .reg-label {
      width: 47%;
    }
  }

  #reg-date-form {
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    #reg-month-drop {
      width: 15em;
    }
    #reg-day-drop, #reg-year-drop {
      width: 25%;
    }
  }
}